/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}


/*main styles*/

body {
	background: url("question.jpg");
    background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	letter-spacing: -2px;
}

h1 {
	font-size: 9em;
	text-align: center;
}
h2 {
	font-size: 5em;
	text-align: center;
}
h3 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}


.start, .game, .winner {
	width: 100%;
}


.apptitle {
	display: block;
	padding-top: 6em;
}


.hot, .cold {
	display: inline-block;
	float: left;
	letter-spacing: -3px;
	width: 50%;
}
.hot {
	color: darkred;
}
.cold {
	color: darkblue;
}


.playthegamebutton {
	background-color: antiquewhite;
	border: none;
	border-radius: 60px;
	color: black;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 7em auto;
	padding: 30px 40px;
	text-align: center;
	white-space: normal;
	word-spacing: 3px;
	-moz-box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
}


.gamebackground {
	background: url("beach - red.jpg"), url("penguins - blue.jpg");
    background-attachment: fixed;
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 50% 100%;
}

.guessfield {
	margin-top: 12em;
	width: 100%;
}

#guess { 
	background-color: white;
	border: 2px solid antiquewhite;
	color: dimgray;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 3.25em;
	font-style: italic;
	letter-spacing: -2px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	white-space: normal;
	width: 70%;
	word-spacing: 6px;
}
::-webkit-input-placeholder {
	color: gray;
}
:-moz-placeholder { /* Firefox 18- */
	color: gray;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: gray;
}
:-ms-input-placeholder {  
	color: gray;
}

[placeholder]:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 2s ease-out; 
}

textarea:focus, input:focus{
    outline: 0;
}

.checkguessbutton {
	background-color: antiquewhite;
	border: none;
	border-radius: 60px;
	color: black;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.75em;
	font-weight: bold;
	padding: 30px 40px;
	letter-spacing: -2px;
	margin: 2em auto 0 auto;
	text-align: center;
	white-space: normal;
	word-spacing: 3px;	
	-moz-box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
}

.newgamebutton {
	background-color: transparent;
	border: none;
	color: antiquewhite;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.75em;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 3em auto;
	text-align: center;
	white-space: normal;
	word-spacing: 3px;
}


.winnerbackground {
	background: url("winner.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.winnertext { 
	background-color: white;
	color: black;
	display: block;
	margin: 10em auto 4em auto;
	padding: 100px 0;
	text-align: center;
	white-space: normal;
	width: 100%;
	word-spacing: 6px;
}

.playagainbutton {
	background-color: antiquewhite;
	border: block;
	border-radius: 60px;
	color: black;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 3em auto;
	padding: 30px 60px;
	text-align: center;
	white-space: normal;
	word-spacing: 3px;
	-moz-box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		3px 5px 2px rgba(128,128,128,0.7),
		inset 0px 0px 3px rgba(255,255,255,1);
}